.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content-delete-submit_container {
  background-color: white;
  max-width: 496px;
  width: 670px;
  height: 280px;
  border-radius: 20px;
  padding: 28px 31px 36px 28px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal__content-delete_text1 {
  width: 295px;
  height: 48px;
  top: -30px;
  size: 20px;
  text-align: center;
  /* margin: 0; */
  /* padding: 44px 31px 36px 151px; */
  /* top: 331px;
  left: 536px; */
  position: relative;
}
.delete__Button-one {
  width: 128px;
  height: 24px;
  color: red;
  margin-bottom: 24px;
  background-color: white;
  border: none;
}
.delete__Button-one:hover {
  cursor: pointer;
  opacity: 50%;
}

.delete__Button-two {
  width: 61px;
  height: 24px;
  color: black;
  background-color: white;
  border: none;
}

.delete__Button-two:hover {
  cursor: pointer;
  opacity: 50%;
}
