@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url("/src/vendor/fonts/HankenGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk semi";
  src: url("/src/vendor/fonts/HankenGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk medium";
  src: url("/src/vendor/fonts/HankenGrotesk-Medium.ttf");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Cabinet Grotesk semi";
}

.header__avatar-logo {
  font-family: "Cabinet Grotesk semi";
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo_button {
  background-color: transparent;
  border: none;
  font-family: "Cabinet Grotesk semi";
  cursor: pointer;
}

.header__logo-date {
  display: flex;
}

.header__logo_profile {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Cabinet Grotesk semi";
}
