@media screen and (min-width: 430px) and (max-width: 1350px) {
  .modal__content-Item-Modal {
    display: flex;
    max-width: 670px;
    max-height: 368px;
  }

  .modal__content-flex {
    display: flex;
  }

  .modal__content-flex-img_container {
    position: relative;
    display: flex;
  }
  .modal__content-flex-img {
    position: relative;
    max-width: 325px;
    max-height: 328px;
    border-radius: 10px;
    cursor: pointer;
  }

  .modal__content-flex-img-name {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    position: absolute;
    top: 15px;
    left: 116px;
    min-height: 24px;
    min-width: 54px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 2px 12px 2px 12px;
  }
}
