@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url("/src/fonts/HankenGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk semi";
  src: url("/src/fonts/HankenGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk medium";
  src: url("/src/fonts/HankenGrotesk-Medium.ttf");
}

.card__section {
  margin-top: 20px;
  font-family: "Cabinet Grotesk semi";
}

.card__name {
  text-align: center;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
