@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url("/src/vendor/fonts/HankenGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk semi";
  src: url("/src/vendor/fonts/HankenGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk medium";
  src: url("/src/vendor/fonts/HankenGrotesk-Medium.ttf");
}

.card__section {
  margin-top: 20px;
  font-family: "Cabinet Grotesk semi";
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card__items-imgContainer {
  position: relative;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}

.card__name {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk semi";
  text-align: center;
  display: flex;
  position: absolute;
  top: 15px;
  left: 116px;
  min-height: 24px;
  min-width: 54px;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  pointer-events: none;
  padding: 2px 12px 2px 12px;
}
