@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url("/src/vendor/fonts/HankenGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk semi";
  src: url("/src/vendor/fonts/HankenGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk medium";
  src: url("/src/vendor/fonts/HankenGrotesk-Medium.ttf");
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 31px 36px 28px;
}
.modal__content-modalWithForm {
  /* display: flex;
  flex-direction: column; */
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 31px 36px 28px;
}

.modal__content-button {
  position: relative;
  background-image: url("../images/Unioncloseclose.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  opacity: 100%;
  border: none;
  top: -20px;
  right: -20px;
  background-color: transparent;
  float: right;
  cursor: pointer;
}

.modal__content-button:hover {
  opacity: 50%;
}

.modal__content-title {
  margin: 0;
  font-size: 16px;
  font-family: "Cabinet Grotesk medium";
  /* padding-bottom: 24px; */
}

.modalWithForm {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk medium";
  width: 496px;
  /* height: 436px; */
}

.modalWithForm__name {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  max-width: 440px;
  min-height: 52px;
}

.modalWithForm__image {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  max-width: 440px;
  min-height: 52px;
}

.modalWithForm__radio-Btns__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 32px;
  gap: 8px;
  font-family: "Cabinet Grotesk medium";
}

.modalWithForm__radio-Btns {
  cursor: pointer;
}

.modalWithForm__name-input {
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid black;
}

.modalWithForm__image-input {
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid black;
}

.modalWithForm__SelectText {
  margin: 24px 0 12px 0;
  font-family: "Cabinet Grotesk medium";
}

.modal__content-submitBtn {
  background-color: rgba(0, 0, 0, 0.3);
  width: 124px;
  height: 36px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Cabinet Grotesk medium";
}

.modal__content-submitBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.modal__content-submitBtn:active {
  background-color: rgba(0, 0, 0, 1);
}
