.profile_component {
  max-width: 1440px;
  margin: 40px auto 0 auto;
}
.profile_container {
  max-width: 1200px;
  margin: 0 40px 0 40px;
  display: flex;
  width: 70%;
}

.profile_sidebar {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  align-items: center;
}

.profile_clothe-component {
  display: flex;
  height: 100%;
  width: 75%;
  flex-direction: column;
  align-items: center;
}
