.sidebar_component {
  max-width: 100%;
  display: flex;
  align-self: flex-start;
  flex-wrap: nowrap;
  flex-flow: row;
}

.sidebar_container {
}

.sidebar_avatar-Image {
  height: 56px;
}

.sidebar_avatar-Name {
  width: 157px;
  height: 25px;
  padding: 17px 0 20px 20px;
}
