.react-switch-container {
  margin-bottom: 10px;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 56px;
  height: 28px;
  background: rgb(255, 255, 255);
  border-radius: 100px;
  position: relative;
  /* transition: background-color 0.2s; */
  font-size: 14px;
  border-width: 2px;
  border: 2px solid rgb(0, 0, 0);
}

.react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 45px;
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

.newLabel-switch {
  display: flex;
  position: relative;
}

.newLabel-switch:hover {
  color: black;
}

.newLabel-switch-box {
  border-radius: 25px;
  border: solid rgba(126, 126, 126, 1) 2px;
  width: 56px;
  height: 28px;

  appearance: none;
}

.newLabel-switch-box:hover {
  border: solid 2px black;
}

.switch__slider {
  border-radius: 20px;
  width: 29px;
  height: 28.5px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  top: 3px;
  left: 31px;
}

.switch__slider-C {
  top: 3px;
  left: 3px;
}

.switch__temp-F {
  position: absolute;
  top: -9px;
  left: 41px;
  color: rgba(0, 0, 0, 0.5);
  height: 28px;
  width: 28px;
}

.switch__temp-F:hover {
  color: black;
}

.switch__temp-C {
  position: absolute;
  top: -9px;
  left: 14px;
  color: rgba(0, 0, 0, 0.5);
  height: 29px;
  width: 28.5px;
}

.switch__temp-C:hover {
  color: black;
}

.switch__active {
  font-size: 16px;
  color: white;
}

.switch__active:hover {
  color: white;
}
