@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url("/src/vendor/fonts/HankenGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk semi";
  src: url("/src/vendor/fonts/HankenGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "Cabinet Grotesk medium";
  src: url("/src/vendor/fonts/HankenGrotesk-Medium.ttf");
}

.weather {
  position: relative;
}

.weather_info {
  position: absolute;
  display: flex;
  top: 14px;
  left: 16px;
  color: #fff;
  font-size: 26px;
  max-height: 40px;
  font-family: "Cabinet Grotesk semi";
}
.weather_info-temp {
  display: block;
}

.weather_image {
  width: 100%;
  max-height: 80px;
}
